/* SPDX-License-Identifier: GPL-3.0-or-later */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    margin: 0;
  }

  body {
    @apply bg-cell-bg text-cell-text font-sans antialiased;
    overflow: hidden;
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}
